.container{
    min-height: 80vh;
}
h1{
    text-align: center;
    margin: 12px 0;
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myinput{
    width: 500px;
    padding: 10px ;
    margin: 8px;
    font-size: 15px;
    border: 2px solid black;
    background-color: rgb(202, 200, 57);
    color: black;
    border-radius: 10px;
    outline: none;

}

.btn{
    padding: 7px 23px;
    margin: 5px;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-color: grey;
    cursor: pointer;
}